# {{DISPLAY_NAME}}
# Status: in-progress

id: {{PACKAGE_NAME}}
name: {{DISPLAY_NAME}}
url: /{{PACKAGE_NAME}}/
hubUrl: /projects/{{PACKAGE_NAME}}
status: in-progress
description: {{DESCRIPTION}}
shortDescription: {{DESCRIPTION}}
# image: /images/projects/{{PACKAGE_NAME}}.png
tags:
  - name: Astro / React / Tailwind
